<footer>
    <p>Powered by <a href="https://openlibrary.org/">Open Library!</a></p>
    <p>&copy; 2024 Donald J. Menig. All Rights Reserved. </p>
</footer>
</div> <!--page-wrapper closing tag-->
</body>
</html>