/* color palette: https://colorhunt.co/palette/1534483c5b6f948979dfd0b8 */

/* font-family: "libre baskerville", serif;
font-family: "Licorice", cursive;
font-family: "Roboto", "sans serif"; */

html, body {
    box-sizing: border-box;
    height: 100svh;
    padding: 0;
    margin: 0;
}
.page-wrapper {
    box-sizing: border-box;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    background-color: #153448;
    padding: 0.5rem;
}
h1, h1 > a {
    font-family: "Licorice", cursive;
    font-size: 4rem;
    margin: 0;
    color: #DFD0B8;
    text-shadow: 2px 2px black;
    text-decoration: none;
}
.selectionMainContainer, .indexMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 0 0.5rem;
    background-color:#DFD0B8;
}
.selectionImageContainer, .indexImageContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.selectionImage {
    max-width: 100%;
    filter: drop-shadow(0 0 0.75rem #153448);
    margin: 1rem;
}
h2 {
    margin: 0 1rem;
    font-family: "libre baskerville", serif;
    text-align: center;
    color: #153448;
    font-style: italic;
    font-size: 1.75rem;
}
.bookInformationContainer {
    padding: 0 1rem;
    text-align: center;
    margin: 1rem;
}
.bookInformationContainer > a {
    color: #3C5B6F;
    font-family: "Roboto", "sans serif";
}
p {
    margin: 0 0 .5rem 0;
    color: #3C5B6F;
    font-family: "Roboto", "sans serif";
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form * {
    background-color: #153448;
    border-radius: 15px;
    border: 0;
    color: #DFD0B8;
    cursor: pointer;
    font-family: "Roboto", "sans serif";
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

select {
    outline: none;
}
select:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    
}
button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
select:active, button:active {
    box-shadow: none;
    color: #DFD0B8;
    transform: translateY(0);
}
footer {
display: flex;
justify-content: center;
align-items: center;
flex-grow: 0;
flex-shrink: 0;
text-align: center;
background-color: #153448;
padding: 0.5rem;
gap: 1rem;
}
footer * {
    font-family: 'Times New Roman', Times, serif;
    color: #DFD0B8;
}
.icon {
    width: 1rem;
    fill: #DFD0B8;
    margin-bottom: 0.25rem;
}
.footerText {
    min-width: fit-content;
}
.footerLinks {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .selectionMainContainer {
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }
    .selectionImageContainer {
        width: max-content;
        padding: 0;
        justify-content: center;

    }
    .selectionImage {
        object-fit: scale-down;
        max-width: 85%;
    }
    .selectionTextWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
